.tooltip {
    position: relative;
    display: inline-block;
    overflow: visible;
}

.tooltip > p {
    visibility: hidden;
    display: flex;
    flex-direction: row;
    position: absolute;
    opacity: 0;
    padding: 1em;
    transition: opacity .1s ease-in;
    text-align: left;
    min-width: 15em;
    border: 3px solid var(--primary);
    word-break: keep-all;
    background-color: var(--black);
    color: var(--primary);
    border-radius: 1em;
    z-index: 100;
    margin: 0;
}

.tooltip.bottom > p {
    left: calc(-98%);
    top: 3em;
}

.tooltip:hover > p {
    transition-delay: .5s;
    visibility: visible;
    opacity: 1;
}